.mat-icon {
    color: var(--color-red-theme);
    width: 100% !important;
    height: 100% !important;
    font-size: 32px !important;
    align-content: center;
    text-align: center;
}

.mat-clock-color{
    color: white;
}