<ul
  class="flex h-full items-center justify-center text-lg font-normal sm:gap-16 md:gap-24"
  [class.flex-col]="isSmallScreen"
  [class.items-start]="isSmallScreen"
  [class.gap-2]="isSmallScreen"
>
  <li>
    <a
      class="hover:text-red-theme cursor-pointer"
      [class.text-red-theme]="currentRouter === 1"
      [class.text-2xl]="isOpenMenu()"
      [class.font-bold]="isOpenMenu()"
      (click)="courses()"
      >Courses</a
    >
  </li>
  <li>
    <a
      class="hover:text-red-theme cursor-pointer"
      [class.text-red-theme]="currentRouter === 2"
      [class.text-2xl]="isOpenMenu()"
      [class.font-bold]="isOpenMenu()"
      routerLink="/about"
      >About</a
    >
  </li>
  <li>
    <a
      class="hover:text-red-theme cursor-pointer"
      [class.text-red-theme]="currentRouter === 3"
      [class.text-2xl]="isOpenMenu()"
      [class.font-bold]="isOpenMenu()"
      routerLink="/contact"
      >Contact</a
    >
  </li>
</ul>
