<header
  class="z-50 w-full overflow-hidden border-b border-b-gray-300 bg-white px-[clamp(0.5rem,2vw,2rem)]"
>
  <app-navigation></app-navigation>
</header>

<main
  class="flex w-full flex-col items-end gap-8 px-[clamp(1rem,10vw,9rem)] py-24"
>
  <form
    class="relative flex w-full flex-col gap-8"
    [formGroup]="courseFormGroup"
  >
    <loading
      class="absolute h-full w-full"
      [isLoading]="isLoading"
      [class.hidden]="!isLoading"
    ></loading>
    <div
      class="flex w-full flex-col gap-8 rounded-xl border border-gray-300 bg-white p-8"
    >
      <div>
        <h2 class="text-lg font-bold">Basic Information</h2>
        <p class="text-lg text-gray-500">
          Enter the core details about your course
        </p>
      </div>
      <ul class="flex flex-col gap-4">
        @let titleControl = courseFormGroup.controls.title;
        @let descriptionControl = courseFormGroup.controls.description;
        @let categoryControl = courseFormGroup.controls.category;
        @let difficultyControl = courseFormGroup.controls.difficulty;
        @let durationControl = courseFormGroup.controls.duration;
        <li class="flex flex-col gap-2">
          <label class="font-bold" for="title">Course Title *</label>
          <input
            class="bg-custom-gray border-red-theme h-10 w-full rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
            type="text"
            name="title"
            id="title"
            placeholder="e.g., Complete Web Development Bootcamp"
            [formControl]="titleControl"
          />
          @if (titleControl.invalid && titleControl.touched) {
            <mat-error class="text-red-theme">This field is required</mat-error>
          }
        </li>
        <li class="flex flex-col gap-2">
          <label class="font-bold" for="description"
            >Course Description *</label
          >
          <textarea
            class="bg-custom-gray border-red-theme h-24 w-full resize-none rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
            type="text"
            name="description"
            id="description"
            placeholder="Describe what studenst will learn in this course..."
            [formControl]="descriptionControl"
          ></textarea>
          @if (descriptionControl.invalid && descriptionControl.touched) {
            <mat-error class="text-red-theme">This field is required</mat-error>
          }
        </li>
        <li class="flex flex-wrap gap-4">
          <div
            class="relative flex grow basis-[calc((1/3*100%)-1rem)] flex-col gap-2"
          >
            <label class="font-bold" for="category">Category *</label>
            <div class="relative h-10 w-full">
              <input
                class="bg-custom-gray border-red-theme h-10 w-full cursor-pointer rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
                name="category"
                id="category"
                placeholder="Select a category"
                [formControl]="categoryControl"
                readonly
                (click)="closedCategoryList = !closedCategoryList"
              />
            </div>
            @if (categoryControl.invalid && categoryControl.touched) {
              <mat-error class="text-red-theme"
                >This field is required</mat-error
              >
            }
            <category-list
              class="absolute top-full w-full"
              [categoryList]="categoryList"
              [closedCategories]="closedCategoryList"
              (selectedCategory)="setCategory($event)"
            ></category-list>
          </div>
          <div
            class="relative flex grow basis-[calc((1/3*100%)-1rem)] flex-col gap-2"
          >
            <label class="font-bold" for="difficulty">Difficulty *</label>
            <div class="relative h-10 w-full">
              <input
                class="bg-custom-gray border-red-theme h-10 w-full cursor-pointer rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
                type="text"
                name="difficulty"
                id="difficulty"
                placeholder="Select a difficulty"
                [formControl]="difficultyControl"
                readonly
                (click)="closedDifficultyList = !closedDifficultyList"
              />
            </div>
            @if (difficultyControl.invalid && difficultyControl.touched) {
              <mat-error class="text-red-theme"
                >This field is required</mat-error
              >
            }
            <difficulty-list
              class="absolute top-full w-full"
              [difficultyList]="difficultyList"
              [closedDifficulty]="closedDifficultyList"
              (selectedDifficulty)="setDifficulty($event)"
            ></difficulty-list>
          </div>
          <div class="flex grow basis-[calc((1/3*100%)-1rem)] flex-col gap-2">
            <label class="font-bold" for="duration">Duration *</label>
            <input
              class="bg-custom-gray border-red-theme h-10 w-full rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
              type="text"
              name="duration"
              id="duration"
              placeholder="eg., 12 weeks"
              formControlName="duration"
            />
            @if (durationControl.invalid && durationControl.touched) {
              <mat-error class="text-red-theme"
                >This field is required</mat-error
              >
            }
          </div>
        </li>
        <li class="flex flex-col gap-2">
          <label class="font-bold" for="thumbnail">Tumbnail *</label>
          <input
            class="bg-custom-gray border-red-theme h-10 w-full cursor-pointer rounded-xl p-2 hover:border hover:border-dashed"
            type="file"
            name="thumbnail"
            id="thubnail"
            accept="image/*"
            (change)="onThumbnailAdded($event)"
          />

          @if (thumbnailFile && imageUrl) {
            <div class="h-86 w-full overflow-hidden">
              <img class="h-full w-full object-contain" [src]="imageUrl" />
            </div>
          }
        </li>
      </ul>
    </div>
    <div
      class="flex w-full flex-col gap-8 rounded-xl border border-gray-300 bg-white p-8"
      formArrayName="objectives"
    >
      <div>
        <h2 class="text-lg font-bold">Learning Objectives *</h2>
        <p class="text-lg text-gray-500">
          What will students learn from this course?
        </p>
      </div>

      <ul class="flex flex-col gap-4">
        @let objectives = courseFormGroup.controls.objectives.controls;
        @for (item of objectives; track $index) {
          <li class="flex items-center justify-between gap-2">
            <input
              class="bg-custom-gray border-red-theme h-10 basis-25/26 rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
              type="text"
              placeholder="Learning objective {{ $index + 1 }}"
              [formControlName]="$index"
            />
            <button
              class="close flex h-10 basis-1/26 cursor-pointer items-center justify-center rounded-xl p-2"
              [disabled]="objectives.length === 1"
              (click)="removeObjective($index)"
            >
              <mat-icon class="mat-close-icon">close</mat-icon>
            </button>
          </li>
          @if (objectives[$index].invalid && objectives[$index].touched) {
            <li>
              <mat-error class="text-red-theme"
                >This field is required</mat-error
              >
            </li>
          }
        }
        <button
          class="add-objective flex w-full items-center justify-center gap-2 rounded-xl border border-gray-300 py-2 hover:border-red-300"
          type="button"
          (click)="addObjective()"
        >
          <mat-icon class="material-symbols-rounded mat-add-icon">add</mat-icon>
          <p>Add Learning Objective</p>
        </button>
      </ul>
    </div>

    <div
      class="flex w-full flex-col gap-8 rounded-xl border border-gray-300 bg-white p-8"
    >
      @let prerequisitesControl = courseFormGroup.controls.prerequisites;
      <div>
        <h2 class="text-lg font-bold">Prerequisites *</h2>
        <p class="text-lg text-gray-500">
          What knowledge or skills should students have before taking this
          course?
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <textarea
          class="bg-custom-gray border-red-theme h-24 w-full resize-none rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
          type="text"
          name="description"
          id="description"
          placeholder="e.g., Basic understanding of HTML and CSS, No prior programming experience required"
          [formControl]="prerequisitesControl"
        ></textarea>
        @if (prerequisitesControl.invalid && prerequisitesControl.touched) {
          <mat-error class="text-red-theme">This field is required</mat-error>
        }
      </div>
    </div>

    <div
      class="flex w-full flex-col gap-8 rounded-xl border border-gray-300 bg-white p-8"
      formArrayName="modules"
    >
      <div>
        <h2 class="text-lg font-bold">Course Curriculum *</h2>
        <p class="text-lg text-gray-500">
          Organize your course content into modules and lessons
        </p>
      </div>

      <section
        class="flex flex-col gap-4 overflow-hidden rounded-xl border border-gray-300 p-[clamp(0.5rem,5vw,1rem)]"
      >
        @let modules = courseFormGroup.controls.modules.controls;
        @for (item of modules; track $index; let i = $index) {
          @let moduleTitleControl = modules[i].controls.title;
          <div class="flex flex-wrap items-center justify-center gap-2">
            <p
              class="rounded-xl bg-red-200 px-3 py-1 text-xs font-bold text-nowrap text-red-900"
            >
              Module
              {{ i + 1 }}
            </p>
            <div
              class="flex grow flex-wrap items-center justify-center gap-2"
              [formGroup]="modules[i]"
            >
              <input
                class="bg-custom-gray border-red-theme h-10 grow rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
                type="text"
                placeholder="Module title"
                [formControl]="modules[i].controls.title"
              />
              <button
                class="close flex h-10 items-center justify-center rounded-xl px-2"
                type="button"
                [disabled]="modules.length === 1"
                (click)="removeModule(i)"
              >
                <mat-icon class="mat-close-icon">close</mat-icon>
              </button>
            </div>
          </div>

          @if (moduleTitleControl.invalid && moduleTitleControl.touched) {
            <mat-error class="text-red-theme">This field is required</mat-error>
          }
          <div class="flex items-center" [formGroup]="modules[i]">
            <div
              class="flex w-full flex-col items-stretch gap-4"
              formArrayName="lessons"
            >
              @let lessons =
                courseFormGroup.controls.modules.controls[i].controls.lessons
                  .controls;
              @for (item of lessons; track $index; let j = $index) {
                <div
                  class="flex flex-wrap items-center justify-center gap-2"
                  [formGroup]="item"
                >
                  <p class="grow text-center text-xs text-nowrap text-gray-500">
                    Lesson {{ j + 1 }}
                  </p>
                  <div class="flex grow-4 flex-wrap items-center gap-2">
                    <input
                      class="bg-custom-gray border-red-theme h-10 grow basis-[calc((2/3*100%)-0.25rem)] rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
                      type="text"
                      placeholder="Lesson title"
                      formControlName="title"
                    />
                    <input
                      class="bg-custom-gray border-red-theme h-10 grow basis-[calc((1/3*100%)-0.25rem)] rounded-xl p-2 outline-red-300 focus:border focus:outline-2"
                      type="text"
                      placeholder="Duration"
                      formControlName="duration"
                    />
                    @if (lessons[j].invalid && lessons[j].touched) {
                      <mat-error class="text-red-theme"
                        >This field is required</mat-error
                      >
                    }
                  </div>
                  <button
                    class="close flex h-10 cursor-pointer items-center justify-center rounded-xl p-2"
                    type="button"
                    [disabled]="lessons.length === 1"
                    (click)="removeLesson(i, j)"
                  >
                    <mat-icon class="mat-close-icon">close</mat-icon>
                  </button>
                </div>
              }
              <button
                class="add-lesson mx-[calc(1/7*100%)] flex items-center justify-center gap-2 rounded-xl border border-gray-300 px-4 py-1 hover:border-red-300"
                type="button"
                (click)="addLesson(i)"
              >
                <mat-icon class="material-symbols-rounded mat-add-icon"
                  >add</mat-icon
                >Add Lesson
              </button>
            </div>
          </div>
        }
      </section>
      <button
        class="add-objective flex w-full items-center justify-center gap-2 rounded-xl border border-gray-300 py-2 hover:border-red-300"
        type="button"
        (click)="addModule()"
      >
        <mat-icon class="material-symbols-rounded mat-add-icon">add</mat-icon>
        <p>Add Module</p>
      </button>
    </div>
  </form>

  <button
    class="bg-red-theme cursor-pointer rounded-xl px-6 py-2 font-bold text-white hover:bg-red-400"
    type="button"
    (click)="submitCourse()"
  >
    Create Course
  </button>
</main>
