.mat-icon {
    width: 100% !important;
    height: 100% !important;
    font-size: 32px !important;
    align-content: center;
    text-align: center;
    color: white;
}

.signup-loading {
    --mat-progress-spinner-active-indicator-color: white;
}