/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-red-theme: #D92929;
    --color-custom-gray: #F2F2F2;
}

;

@font-face {
    font-family: 'SamsungOne';
    src: url('./assets/fonts/SamsungOne-400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Samsung One - Bold (700) */
@font-face {
    font-family: 'SamsungOne';
    src: url('./assets/fonts/SamsungOne-700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Samsung Sharp Sans - Bold */
@font-face {
    font-family: 'SamsungSharpSans';
    src: url('./assets/fonts/SamsungSharpSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100%;
    --mat-progress-spinner-active-indicator-color: var(--color-red-theme);

}

body {
    margin: 0;
    font-family: 'SamsungOne';
}

::selection {
    background-color: var(--color-red-300);
    color: var(--color-red-900);
}

.red-btn {
    height: calc(var(--spacing) * 10);
    padding-inline: calc(var(--spacing) * 6);
    background-color: var(--color-red-theme);
    font-weight: var(--font-weight-bold);
    border-radius: var(--radius-xl);
    color: var(--color-white);

    &:enabled:hover {
        background-color: var(--color-red-400);
        cursor: pointer;
    }
}

.white-btn {
    height: calc(var(--spacing) * 10);
    padding-inline: calc(var(--spacing) * 6);
    background-color: var(--color-white);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border-radius: var(--radius-xl);
    border-color: var(--color-gray-300);
    border-style: var(--tw-border-style);
    border-width: 1px;
    color: var(--color-black);

    &:hover {
        background-color: var(--color-red-200);
        border-color: var(--color-red-300);
        color: var(--color-red-900);
    }
}

.mat-mdc-tooltip .mdc-tooltip__surface {
    background-color: var(--color-red-theme);
    color: var(--color-white);
    font-size: 14px;
    font-family: 'SamsungOne';
    padding: 8px 12px;
    border-radius: 6px;
}

.input-style {
    background-color: var(--color-custom-gray);
    border-color: var(--color-red-theme);
    width: 100%;
    height: calc(var(--spacing) * 10);
    border-radius: var(--radius-xl);
    padding: calc(var(--spacing) * 2);
    outline-color: var(--color-red-300);

    &:focus {
        border-style: var(--tw-border-style);
        border-width: 1px;
        outline-style: var(--tw-outline-style);
        outline-width: 2px;
    }
}

.error {
    font-size: var(--text-xs);
    color: var(--color-red-theme);
}

.mat-mdc-snackbar-surface {
    background-color: transparent !important;
    border-radius: var(--radius-xl) !important;
}

.snack-success {
    background-color: var(--color-green-200) !important;
    border-radius: var(--radius-xl) !important;

    & .mdc-snackbar__label {
        font-family: 'SamsungOne' !important;
        color: var(--color-green-950) !important;
    }
}


.snack-error {
    background-color: var(--color-red-200) !important;
    border-radius: var(--radius-xl) !important;
    color: var(--color-red-900) !important;

    & .mdc-snackbar__label {
        font-family: 'SamsungOne' !important;
        color: var(--color-red-950) !important;
    }
}